
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'cursed_timer_ulil';
    src: url('./font/cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary-color:#EDE9FE;
    --secondary-color:#4C1D95;
}

body{
    background-color: var(--secondary-color);    
    font-family: 'cursed_timer_ulil';
    text-align: center;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(0px,500px) minmax(1em,1fr);
}

.container > * {
    grid-column: 2;
}


@media (min-width: 675px) {
    .container {
        grid-template-columns: minmax(1em,1fr) repeat(2,minmax(100px,500px)) minmax(1em,1fr);
        column-gap: 2em;
    }
}

/* ==========
Typography
============= */


.main-heading {
    font-size: 3rem;
}

.team-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5rem;
    margin-bottom: 0.25em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0.5em;
}

button{
    font-family: 'cursed_timer_ulil';
    font-size: 2rem;
}

.scoreboard h2{
    color: var(--primary-color);
    font-size: 10rem;
}

.winner-highlight {
    text-shadow: 0px 0px 15px var(--primary-color);
}

/* ============
Layout
=============== */

.scoreboard{
    background-color: #080001;
    height: 250px;
    padding: 1.5em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.scoreboard h2{
    transform: translateY(10px);

}

.btn{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    padding: 1em;
    border-radius: 0.625em;
    cursor: pointer;
    margin-bottom: 0.25em;
}

.btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.column-btn{
    align-self: center;
}

.newGame{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 0.5em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.newGame:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.footer {
    margin: 3em;
}

@media (min-width: 675px) {
    .main-heading {
        grid-column: 2/-2;
    }

    .column-btn {
        grid-column: 2/-2;
    }

    .scoreboardA {
        grid-column: 2;
    }

    .scoreboardB {
        grid-column: 3;
    }

}